body {
    font-family: Verdana;
    font-size: 1.1em;
    background-color: silver;
    color: darkblue;
}

h1 {
    font-variant: all-petite-caps;
    background-color: red;
}

a:hover {
    border: 1px solid black;
    padding: 3px;
}

.stippeltjesrand {
    border: 5px dotted yellow;
}